{% extends 'workspace/base.html' %}

{% block title %}| Create News{% endblock title %}

{% block content %}

    <h2 class="mb-5">Create news</h2>

    <div>
        {#        <form action="{% url 'create_news' %}" method="post" enctype="multipart/form-data">#}
        {#            {% csrf_token %}#}
        {#            <div class="mb-4">#}
        {#                <input name="name" placeholder="Заголовок" type="text" class="form-control" required>#}
        {#            </div>#}
        {#            <div class="mb-4">#}
        {#                <input name="image" placeholder="Изображение" type="file" class="form-control" required>#}
        {#            </div>#}
        {#            <div class="mb-4">#}
        {#                <textarea name="description" placeholder="Краткое описание" class="form-control" required></textarea>#}
        {#            </div>#}
        {#            <div class="mb-4">#}
        {#                <textarea name="content" placeholder="Контент" rows="15" class="form-control" required></textarea>#}
        {#            </div>#}
        {#            <div class="mb-4">#}
        {#                <input type="checkbox" id="checkbox_is_published" name="is_published">#}
        {#                <label for="checkbox_is_published">Is Published</label>#}
        {#            </div>#}
        {#            <div class="mb-4">#}
        {#                <select name="category" class="form-select" required>#}
        {#                    <option selected disabled>Select category</option>#}
        {#                    {% for category in categories %}#}
        {#                        <option value="{{ category.id }}">{{ category.name }}</option>#}
        {#                    {% endfor %}#}
        {#                </select>#}
        {#            </div>#}
        {#            <div class="mb-4">#}
        {#                <select name="tags" multiple class="form-select" required>#}
        {#                    <option selected disabled>Select tags</option>#}
        {#                    {% for tag in tags %}#}
        {#                        <option value="{{ tag.id }}">{{ tag.name }}</option>#}
        {#                    {% endfor %}#}
        {#                </select>#}
        {#            </div>#}
        {##}
        {#            <div>#}
        {#                <button type="submit" class="btn btn-success w-100 d-block">Create</button>#}
        {#            </div>#}
        {##}
        {#        </form>#}
    </div>

    <div>
        <form action="{% url 'create_news' %}" method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="">{{ form.name.label }}</label>
                {{ form.name }}
                {% for error in form.name.errors %}
                    <div class="mt-1 mb-2 text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="">{{ form.image.label }}</label>
                {{ form.image }}
                {% for error in form.image.errors %}
                    <div class="mt-1 mb-2 text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="">{{ form.description.label }}</label>
                {{ form.description }}
                {% for error in form.description.errors %}
                    <div class="mt-1 mb-2 text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="">{{ form.content.label }}</label>
                {{ form.content }}
                {% for error in form.content.errors %}
                    <div class="mt-1 mb-2 text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="">{{ form.is_published.label }}</label>
                {{ form.is_published }}
                {% for error in form.is_published.errors %}
                    <div class="mt-1 mb-2 text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="">{{ form.category.label }}</label>
                {{ form.category }}
                {% for error in form.category.errors %}
                    <div class="mt-1 mb-2 text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="">{{ form.tags.label }}</label>
                {{ form.tags }}
                {% for error in form.tags.errors %}
                    <div class="mt-1 mb-2 text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div>
                <button type="submit" class="btn btn-success w-100 d-block">Create</button>
            </div>

        </form>
    </div>

{% endblock content %}