{% extends 'workspace/base.html' %}

{% block title %}| Update the news "{{ news.name }}"{% endblock title %}

{% block content %}

    <h2 class="mb-5">Update the news "{{ news.name }}"</h2>

    <div>
        <form action="{% url 'update_news' id=news.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit" class="btn btn-success w-100 d-block">Save</button>
            </div>

        </form>
    </div>

{% endblock content %}