{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}| {{ news.name }}{% endblock title %}

{% block content %}
    <h1 class="text-center mb-3">{{ news.name }}</h1>
    <div class="mb-3 text-center">
        <img src="{{ news.image.url }}" class="w-75" alt="{{ news.name }}">
    </div>
    <p>
        {% for tag in news.tags.all %}
            <span>{{ tag.name }}</span> /
        {% endfor %}
    </p>
    <p>{{ news.description }}</p>
    <p>{{ news.content|safe }}</p>
    <div>
        <table class="table">
            <thead>
            <tr>
                <td>Название</td>
                <td>Значение</td>
            </tr>
            </thead>
            {% for attribute in news.attributes.all %}
                <tr>
                    <td>{{ attribute.key }}</td>
                    <td>
                        {% if attribute.link is not None %}
                            <a href="{{ attribute.link }}">{{ attribute.value }}</a>
                        {% else %}
                            {{ attribute.value }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <p class="text-end">{{ news.category.name }} | {{ news.date }}</p>
    {% if news.info %}
        <p class="text-end">
            <a target="_blank" href="{{ news.info.link }}">Link</a> |
            <span>{{ news.info.email }}</span> : <span>{{ news.info.rating }}</span>
        </p>
    {% endif %}
{% endblock content %}