{% extends 'base.html' %}

{% block title %}| Main{% endblock title %}

{% block content %}
    <h1>Welocome to News.kg</h1>
    <div class="row">
        {% for item in news %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h6>{{ item.category.name }}</h6>
                        <p class="card-text">{{ item.description }}</p>
                        <p>
                            {% for tag in item.tags.all %}
                                <span>{{ tag.name }}</span> /
                            {% endfor %}
                        </p>
                        <a href="{% url 'detail_news' id=item.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}