{% extends 'base.html' %}

{% block title %}| Main{% endblock title %}

{% block content %}
    <h1 class="mb-5">Welocome to News.kg {% if category %}| News by {{ category.name }}{% endif %}</h1>
    <div class="row">
        {% for item in news %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h6>{{ item.category.name }}</h6>
                        <p class="card-text">{{ item.description }}</p>
                        <p>
                            {% for tag in item.tags.all %}
                                <span>{{ tag.name }}</span> /
                            {% endfor %}
                        </p>
                        <a href="{% url 'detail_news' id=item.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4>No news...</h4>
        {% endfor %}
    </div>
    {% if news.has_previous or news.has_next %}
        <nav>
            <ul class="pagination">
                {% if news.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ news.previous_page_number }}">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>
                {% endif %}

                {% for i in news.paginator.page_range %}
                    {% if news.number == i %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if news.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ news.next_page_number }}">
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock content %}